.each-panel-task-container {
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 20px;
    max-height: 250px;
    /* width: 700px; */
    background-color: rgba(18, 18, 18, 0.5);
    margin-top: 10px;
}

.task-inner-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 750px) {
    .task-inner-container {
        /* height: 200px; */
        grid-template-columns: auto;
    }
}

.task-detail-container {
    display: flex;
    flex:1;
    flex-direction: column;
    /* height: 100%; */
    margin: 20px 0px 20px 20px;    
}

@media (max-width: 750px) {
    .task-detail-container {
        margin: 20px 0px 0px 20px;
    }
}

.each-panel-task-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.panel-task-actions-container {
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: aqua; */
    /* height: 100%; */
}

.panel-task-action-button {
    margin: 10px;
    background-color: white;
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Vicasso';
    cursor: pointer;
}

.panel-task-action-button:hover {
    background-color: #bdbdbd;
}

@media (max-width: 750px) {
    .panel-task-action-button {
        font-size: .7rem;
    }
}