.dialog-title {
    text-align: center;
}

.dialog-btns {
    display:flex;
    font-size: 1rem;
    justify-content: center;
    background-color: white;
    align-items: center;
    border: none;
    border-radius: 20px;
    width: 94px;
    height: 35.55px;
    font-family: 'Vicasso';
    padding: 0px;
    cursor: pointer;
    color: #1a1a1a
}

.dialog-btns:hover {
    background-color: #bdbdbd;
}

.dialog-btns:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
}

.dialog-input-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.enable-switch-container {
    display:flex;
    width: 100%;    
    justify-content: left;
    align-items: center;
}

.enable-text {
    font-size: 1rem;
    padding-left: 5px;
}