

.dialog-title {
    text-align: center;
}

.dialog-btns {
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    width: 94px;
    height: 35.55px;
    /* padding-top:11px; */
    font-family: 'Vicasso';
    padding: 0px;

}

.dialog-btns:hover {
    background-color: #2f2f2f;
}

.dialog-btns:disabled {
    background-color: #2f2f2f;
}

.dialog-input-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width:max-content; */
    /* padding-top: 10px;    */
}

.enable-switch-container {
    display:flex;
    width: 100%;    
    justify-content: left;
    align-items: center;
    /* padding-left: 50px; */
}

.enable-text {
    font-size: 1rem;
    padding-left: 5px;
}