@import url(https://db.onlinewebfonts.com/c/afe27afa1552f15b1f4f7090a35260bb?family=Vicasso);


p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.main-container {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    font-family: 'Vicasso';
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #242424;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    background-color: #171717;
    color: white;
    /* padding: 0 20px; */
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* background-color: aquamarine; */
}

.heading-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-left: 50px; */
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
}

.login-logout-btn-container {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 10%;
  padding-right: 35px;
  /* background-color: red; */
}

.btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  height: 30px;
  /* width: 90px; */
  border-radius: 20px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
    width: 100vw;
    /* background-color: #8e0e0e; */
  }
  
.middle-container {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    height: 90%;
    /* width: 85%; */
    width: 1000px;
    border-radius: 20px;
    
    background-color: #2f2f2f;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 10%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #212121;
    color: white;
}

.user-image {
    width: 5vh;
    border-radius: 50%;
    margin-right:10px
}

.user-text {
  flex-direction: column;
  margin-block-start:0px;
  margin-block-end:0px;
  font-size: small;
}

.task-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 90%;
    width: 100%;
    /* background-color: #b81313; */
}

.tasks-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    color: white;
}

.taskBtn {
    margin: 10px;
}

.tasks-list-container {
    /* display: flex; */
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    height: 75%;
    width: 90%;
    overflow-y: scroll;
    /* background-color: #b81313; */
}

.no-task-text-container {
    display: flex;
    /* align-items: center; */
    justify-content:center;
    height: 100%;
    width: 100%;
    color: white;
}
