.header {
  display: flex;
  height: 8vh;
  width: 100%;
  flex-direction: row;
  align-items: center;
  color: white;
}

.heading-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login-logout-btn-container {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 10%;
  padding-right: 35px;
}